body {
    height: 100vh;
    background: url("./images/temnyj_les_derevia_161710_1920x1080.jpg") center/cover;
    margin: 0%;
}

#forest  {
    width: 100%;
    height: 100%;
    background: none;
    z-index: 1;
    margin: 0;
    padding: 0;
    
}

#dark {
    width: 100%;
    height: 100%;
    background: black;
    z-index: 2; 
    margin: 0; 
    padding: 0;  
}